<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		{{counter}} <br>
		<button v-on:click="incrementCounter">Increment Counter</button>
		<my-component v-on:increment-me="incrementCounter"></my-component>
	</div>

	<script>
		const MyComponent = {
			template: `<div><button v-on:click="childIncrementCounter">Increment From Child</button></div>`,
			methods: {
				childIncrementCounter() {
					this.$emit('increment-me');
				}
			}
		}
		new Vue({
			el: "#app",
			data() {
				return {
					counter: 0
				}
			},
			methods: {
				incrementCounter() {
					this.counter++;
				}
			},
			components: {'my-component': MyComponent}
		});
	</script>
</body>
</html>